# Variables de ambiente para el Dashboard

NEXT_PUBLIC_SUPABASE_URL=https://bjmyeceguivrnhyeuual.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqbXllY2VndWl2cm5oeWV1dWFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ4NTUxNTUsImV4cCI6MjA2MDQzMTE1NX0.BgBWGxTNgFln3B6FmCmNPj5tJKU8RBoANTx6DbC8Oq0
